{% extends 'base.html' %}

{% load markdownify %}

{% block content %}
<main class="recipe-detail">
    <div>
        <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
        <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <h2>
        Recipes for {{ mealplan.name }}
    </h2>


</main>
{% endblock content %}